@font-face {
    font-family: 'ChillerBrand';
    src: url('data:font/woff2;charset=utf-8;base64,AAEAAAASAQAABAAgRFNJRwAAAAEAAm4QAAAACEdERUYLdgunAAJQ6AAAAGpHUE9T8FKzewACUVQAAA6uR1NVQs2IHvIAAmAEAAAOCk9TLzJkugeBAAABqAAAAGBjbWFwcndspwAACEQAAARYY3Z0IAb1AQAAABBsAAAAOGZwZ20Avo26AAAMnAAAAtVnYXNwAAAAEAACUOAAAAAIZ2x5Zvw6BlUAABCkAAIazGhlYWT/') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}